
 body {
        background-image: url("ShadowBackground.jpg")
      }
 
h1, p, ul, li {
       color: white;
       font-weight: bold;
      }

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
