
 body {
        background-image: url("ShadowBackground.jpg")
      }
 
h1, p, ul, li {
       color: white;
       font-weight: bold;
      }

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
